$color-primary: #4a454b;
$color-primary-green: #90d23d;
$color-white: #fff;
$color-black: #000;

$color-dark-grey: #373737;
$color-light-grey: #4b4d4f;
$color-light-text: #bebebe;
$color-dark-text: #6c6c6c;

$color-light-green: #a3cc40;
$color-bright-green: #46c409;
$color-green-text: #82b541;

$color-blue: #3d6ed2;
$color-orange: #ff9d00;
$color-red: #e0652a;
